footer {
    background-color: #1f1f1f;
    color:  #fff;
} 

/* ----- Above Footer ----- */

.above-footer {
    margin: 20px;
    margin-top: 0px;
    padding-top: 70px;
}

.above-footer h5 {
    font-size: 130%;
    margin-bottom: 20px;
}

.above-footer p {
    font-weight: 200;
}

.above-footer ul {
    display: flex;
}

.above-footer ul li {
    flex-wrap: 1;
    text-align: center;
    padding: 40px;
}

.above-footer button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #16eb96;
    outline: none;
    transition: all 1s ease;
    border: 2px solid transparent;
    font-size: 100%;
}

.above-footer button:hover,
.above-footer button:active,
.above-footer button:focus {
    background-color: #fff;
    border: 2px solid #16eb96;
    outline: none;
}


/* ----- Main Footer ----- */

.main-footer {
    display: flex;
    margin-top: 90px;
    padding: 50px 30px 30px 0;
    font-size: 80%;
    margin: 20px;
    margin-bottom: 0;
}

.main-footer h5 {
    justify-items: start;    
}

.main-footer form,
.main-footer ul {
    flex-grow: 1;
    text-align: center;
}

.main-footer form {
    display: inline-block;

}

.main-footer form input,
.main-footer form textarea {
    margin-left: 15px;
    margin-bottom: 12px;
    outline: none;

}

.main-footer .message * {
    vertical-align: middle;
}

.main-footer form textarea {
    width: 170px;
    height: 90px;
    resize: none;
}

.main-footer form button {
    font-size: 100%;
    margin-top: 10px;
    margin-left: 15px;
    width: 70px;
    height: 40px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #16eb96;
    border: 2px transparent;
    transition: all 1s ease;
    outline: none;
}

.main-footer form button:hover,
.main-footer form button:active,
.main-footer form button:focus {
    background-color: #fff;
    border: 2px solid #16eb96;
    outline: none;
}

.main-footer ul p {
    font-size: 110%;
    font-weight: 600;
    margin-bottom: 25px;
}

.main-footer ul li {
    margin-bottom: 10px;
}

.main-footer ul li span:hover {
    cursor: pointer;
    color: #555;
}

/* ----- Copyright ----- */

footer small {
    font-size: 60%;
    color: #777;
}


/***** MEDIA QUERIES *****/

/* Above Footer */

@media only screen and (max-width: 860px) and (min-width: 750px) {

    .above-footer ul li {
        flex-basis: 100%;
    }
    .above-footer ul li:last-child p {
        margin-bottom: 25px;
    }
    
}

@media only screen and (max-width: 720px) {

    footer {
        margin: 70px 0px 0px 0px;
        padding: 30px 0px;
    }
    
    .above-footer {
        font-size: 85%;
        justify-content: center;
    }

    .above-footer ul {
        display: block;
    }

    .above-footer ul li {
        padding: 40px 0px;
        text-align: start;
    }

    .above-footer ul li h5,
    .above-footer ul li p{
        margin: 30px 0px;
    }
} 

/* Main Footer */

@media only screen and (max-width: 720px) {
    .main-footer {
        display: block;
    }

    .main-footer form {
        margin: 40px 0px 0px 0px;
    }

    .main-footer form input,
    .main-footer form textarea {
        margin-left: 25px;
        margin-bottom: 10px;
    }

    .main-footer ul{
        text-align: start;
        margin: 40px 0px 0px 0px;
    }

}

