/* ======== REUSABLE PIECES ======== */

.section {
    margin: 40px;
    margin-top: 0px;
    padding: 120px 100px 120px 100px;
} 

.goals,
.fields,
.products,
.reviews,
.aboutus {
    text-align: center; 
}

.goals,
.reviews {
    background-color: #f4f7fe
}


.goals h4,
.fields h4,
.products h4,
.reviews h4,
.aboutus h4{
    font-size: 170%;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

.goals h4 span,
.fields h4 span, 
.reviews h4 span,
.aboutus h4 span{
    padding-bottom: 7px;
    border-bottom: 3px solid #16eb96; 
}

.fields h5 {
    font-weight: 500;
    font-size: 130%;
}

.products-bg {
    background-color: #a4a4a4;
}

.hidden {
    visibility: hidden;
}
/*
#16eb96
#e8e8e8
#48515d
*/


/* ---------- HEADER ---------- */

.main-header {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(../css/images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.main-header span {
    padding-bottom: 3px;
    border-bottom: 3px solid #16eb96;
}


.main-header h3,
.main-header p {
    position: absolute;
    transform: translate(-50%, -50%);
}

.main-header h3 {
    font-weight: 500;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    word-spacing: 10px;
    font-size: 200%;
}

.main-header p {
    top: 60%;
    left: 50%;
    font-size: 110%;
}

/* ---------- GOALS ---------- */

.goals {
    margin-top: 40px;
}
.goals ul {
    display: flex;
    justify-content: center;
    color: #000;
}

.goals ul li {
    flex-basis: 100%;
    margin: 15px 25px 15px 15px;
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 20px #aaa;
}


.goals ul li span {
    display: block;
    border: none;
    font-size: 200%;
    margin-bottom: 15px;
}

.goals ul li:nth-child(1) span {
    color: #fb4f93;
}

.goals ul li:nth-child(2) span {
    color: #0957e6;
}

.goals ul li:nth-child(3) span {
    color: #bb4c50;
}

.goals li p {
    font-weight: 400;
}



/* ---------- FIELDS ---------- */

.fields {
    margin-bottom: 0px;
}

.fields ul li {
    display: flex;
    margin: 80px 0;
    padding: 60px 0;
}

.fields ul li:nth-child(2) {
    flex-direction: row-reverse;
}

.fields ul li:nth-child(3) {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.fields ul li div,    
.fields ul li:nth-child(2) div {
    text-align: center;
    padding: 30px 0;
}

.fields ul li div {
    position: absolute;
    right: 10%;
    margin-top: 25px;
}

.fields ul li:nth-child(2) div {
    position: absolute;
    left: -35%;
}

.fields ul li div h5 {
    text-align: center;
}

.fields ul li div span {
    align-self: flex-start;
}

.fields ul li img {
    width: 300px;
    height: 300px;
}

.fields ul li span {
    display: inline-block;
    margin-bottom: 20px;
}


/* ---------- Products ---------- */


.products ul {
    display: flex; 
    margin: 90px 0;   
}

.products ul li {
    flex-grow: 1;
}

.products li span {
    font-size: 150%;
    font-weight: 500;
    color: #bb4c50;
}

.products button {
    height: 50px;
    width: 180px;
    font-weight: 500;
    font-size: 100%;
    border: 2px transparent;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #16eb96;
    box-shadow: 2px 3px 5px #737371 ;
    transition: all 1s ease;
    outline: none;

}

.products button:hover,
.products button:active,
.products button:focus {
    background-color: #fff;
    border: 2px solid #16eb96;
    outline: none;
}

/* ---------- REVIEWS ---------- */
/* 
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews p,
.reviews small {
    text-align: center;
    margin-top: 20px;
}

.reviews img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.reviews div {
    display: flex;
    margin-top: 40px;
    text-align: center;
}

.reviews div span {
    height: 20px;
    width: 20px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews div span::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #d4d4d4;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.reviews div span:hover::before {
    background-color: #45454d;
}
.reviews div .actived::before {
    background-color: #45454d;
} */


.reviews ul {
    display: flex;
    justify-content: center;
    padding-top: 50px;   
}

.reviews ul li {
    flex-basis: 100%;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px #aaa;
    margin: 0px 15px;
    background-color: #fff;
}

.reviews ul li span {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px 0px 0px 5px;
    text-align: left;
    font-size: 200%;
    color: yellow;
}

.reviews img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

.reviews p,
.reviews small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}


/* ---------- About Us ---------- */

.aboutus {
    margin-bottom: 0px;
}
.aboutus p {
    word-spacing: 8px;
}

.aboutus p:nth-child(2) {
    margin-bottom: 20px;
}


/* ----- FONT AWESOME ----- */

#check {
    color: #16eb96;
    margin-right: 10px;
}

#arrow {
    color: #000;
    margin-left: 10px;
    transition: all 1s ease;

}


.products button:hover #arrow {
    color: #16eb96;
}





/* ***** MEDIA QUERIES ***** */

@media only screen and (max-width: 1100px) {
    /* REviews */

    .reviews {
        padding: 100px 50px;
    }
}

@media only screen and (max-width: 1024px) {
    
    /* Goals */
    
    .goals {
        padding: 100px 30px;
        margin: 20px;
        margin-top: 0px;
    }

    .goals ul li,
    .goals ul li p {
        padding: 10px;
        margin: 10px;
    }

    /* Reviews */


    .reviews {
        padding: 100px 30px;
        margin: 20px;
        margin-top: 0px;
    }

    .reviews ul li {
        padding: 10px;
        margin: 10px;
    }
    
}   

@media only screen and (max-width: 960px) {
   
    .section {
        margin: 20px;
        margin-top: 0px;
        padding: 100px 40px;
        font-size: 90%;
    }

    /* Goals */

    .goals p {
        margin: 15px;
        padding: 15px 30px;
    }

    /* Fields */

    .fields ul li img {
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        height: auto;
    }

    .fields ul li div {
        margin-top: 10px;
    }

    .fields ul li:nth-child(2) div {
        left: -30%;
    }

    .fields ul li:nth-child(3) div {
        right: 5%;
    }

}

@media only screen and (max-width: 936px) {

    /* Goals */

    .goals ul li {
        padding: 0px;
    }


    /* Fields */
    
    .fields ul li:nth-child(2) div {
        left: -30%;
    }
}

@media only screen and (max-width: 750px) {

    .section {
        margin: 20px;
        margin-top: 0px;
        padding: 100px 30px;
        font-size: 80%;
    }
       
    /* Header */

    .main-header {
        font-size: 80%;
        text-align: center;
    }

    .main-header h3{
        width: 60%;
    }

    /* Goals */

    .goals ul {
        display: block;
    }

    .goals ul li {
        margin: 20px;
        padding: 20px;
    }

    /* Fields */

    .fields ul li {
        display: block;
        text-align: start;
        margin: 10px 0;
        padding-bottom: 10px;
    }

    .fields ul li img {
        max-width: 50%;
        max-height: 10%;
        width: auto;
        height: auto;
    }

    .fields ul li div,
    .fields ul li:nth-child(2) div {
        position: static;
        text-align: start;
    }

    .fields ul li div h5 {
        margin-top: 10px;
        display: flex;
        justify-content: start;
    }

     /* Reviews */


    .reviews ul {
        display: block;
    }

    .reviews ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px;
    }

    .reviews ul li span {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 5px 5px 0px 5px;
        text-align: left;
        font-size: 200%;
        color: yellow;
    }

    .reviews ul li img,
    .reviews ul li small {
        margin-left: 10px;
    }

    /* Products */

    .products {
        font-size: 85%;
    }
  
}

@media only screen and (max-width: 600px) {
      
    .fields ul li img {
        min-width: 275px;
        min-height: 275px;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 530px) {
   
    .main-header h3 span{
        display: inline-block;
        margin: 10px 0;
    }
    .main-header p {  
        margin-top: 25px;      
        font-size: 100%;
    } 
}


/* ----- ANIMATION ----- */

.animate__fadeIn {
    --animate-duration: 3s;
}

.animate__fadeInUp {
    --animate-duration: 3s;
}

.animate__zoomIn {
    --animate-duration: 3s;
}

