.navigation {
    width: 100%;
    height: 10vh;
    min-height: 13vh;
    position: fixed;
    background-color: transparent;
    color: #fff;
    transition: all 1s ease;
    z-index: 10;
}

.scrolled {
    padding: 3px 0px;
    background-color: #555;
    color: #fff;
}

.scrolled .logo img {
    height: 90px;
    width: 90px;
    transition: all 1s ease;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

.logo img {
    height: 100px;
    width: 100px;
    transition: all 1s ease;
}

.nav-links {
    display: inline-flex;
}

.nav-links li {
    margin: 0px 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 1s ease;
    border: 1.5px solid transparent;
}

.nav-links li:hover {
    background-color: transparent;
    border: 1.5px solid #16eb96;
    color: #fff;
}

.scrolled .nav-links li {
    padding: 10px;
}

#bars {
    display: none;
    cursor: pointer;
}




/* ----- MEDIA QUERIES ----- */


@media only screen and (max-width: 1185px) {
    .nav-links li {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 750px) {

    #bars {
        position: absolute;
        display: inline-block;
        top: 4.5vh;
        right: 5%;
    }

    .nav-links {
        position: fixed;
        display: block;
        top: 13vh;
        right: -100%;
        width: 100%;
        max-width: 100%;
        height: 87vh;
        text-align: center;
        transition: all 0.8s ease;
        background-color: #1b1b1b;
        opacity: 0.8;
    }

    .active {
        right: 0%;
    }

    .nav-links li {
        font-size: 130%;
        margin: 25px 120px;
        padding: 25px 0;
        color: #fff;
        border: 1px solid transparent;
    }

    .nav-links li:hover {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
    }
}
